{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login to Junket Blog" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <h3 class="text-center">{% trans "Welcome Back!" %}</h3>
            <p class="text-center">
                {% blocktrans %}Join us in exploring the world of travel! To leave a comment or like a post, please log in. If you don't have an account yet, <a class="link" href="{{ signup_url }}">create one</a> and start your journey with us!{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-primary btn-block" type="submit">{% trans "Log In" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
